<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net48" />
  <package id="ExtendedXmlSerializer" version="3.1.2" targetFramework="net48" />
  <package id="LightInject" version="6.3.0" targetFramework="net48" />
  <package id="Microsoft.OData.Client" version="7.6.3" targetFramework="net48" />
  <package id="Microsoft.OData.Core" version="7.6.3" targetFramework="net48" />
  <package id="Microsoft.OData.Edm" version="7.6.3" targetFramework="net48" />
  <package id="Microsoft.Spatial" version="7.6.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NReco.LambdaParser" version="1.0.11" targetFramework="net48" />
  <package id="RestSharp" version="106.10.1" targetFramework="net48" />
  <package id="Sprache" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.Interactive" version="4.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>